* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.coaches-Section {
    background-color: lightgray;
    padding: 120px 50px 50px 50px;
}
.coaches-fstSection {
    display: flex;
    justify-content: space-between;
}
.coached-banner {
    width: 65%;
    background-image: url(../images/arthur.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
}
.coachees-fstRight {
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
    font-family: 'Antic Didone', serif;
    padding: 15px;
    width: 33%;
}
.coachees-fstRight h2 {

}
.coachees-fstRight h4 {
    color: #e60000;
    font-style: italic;
    font-size: 21px;
    padding: 10px 0 25px 0;
}
.coachees-fstRight p {
    font-weight: 600;
    line-height: 32px;
}
.coachingStaff {
    text-align: center;
    padding-top: 50px;
}
.coachingStaff h1 {
    font-family: 'Sora', sans-serif;
    color: black;
    font-size: 34px;
    padding-bottom: 20px;
}
.coachingStaff-section {
    text-align: center;
}
.coachingStaff-block {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: gray;
    width: 100%;
}
.coachingStaff-block img {
    height: 100%;
} 
.coachingStaff-block div {
    text-align: right;
    color: #fff;
    padding-right: 15px;
}
.coachingStaff-block div h4 {
    font-size: 20px;
}
.coachingStaff-block div p {
    font-size: 15px;
    padding-top: 25px;
}
.coachingStaffMain {
    padding: 7px;
    width: 33%;
    display: inline-block;
}